mixin setList(items, className, active)
  nav(class="#{className}")
    ul(class="#{className}__list")
      each href, name in items
        if key == active
          li(class="#{className}__item #{className}__item--active")
            a(href="#{href}" class="#{className}__link")= name
        else
          li(class="#{className}__item")
            a(href="#{href}" class="#{className}__link")= name

mixin setButtons(items, className)
  .buttons-panel(class=className)
    each type, value in items
      if type=='submit'
        input.buttons-panel__item.buttons-panel__item--send(type="#{type}", value="#{value}")
      else if value=="На главную"
        input.buttons-panel__item#home(type="#{type}", value="#{value}")
      else
        input.buttons-panel__item(type="#{type}", value="#{value}")

mixin setUnderlinedTitle(name, className)
  .underlined-box
    h3(class="#{className} underlined-title")
      |#{name}

mixin setRoundedImage(src, altName)
  .rounded-image
    img.rounded-image__img(src="#{src}", alt="#{altName}")

mixin setStarsBackgroundTitle(title, svgHref)
  .title
    h1.title__text
      |#{title}
    svg.title__svg(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
      use.svg__icon(xlink:href= svgHref)

mixin setSkill(name, ClassName, vhValue)
  svg(class="skill-svg #{ClassName}", width="100", height="100", viewbox="0 0 100 100", preserveAspectRatio="xMinYMin slice")
    g.skill-svg__skill-circle
      circle.skill-circle--back(r="40", cx="50%", cy="50%", fill="none", stroke-dasharray="251.2 251.2")
      circle.skill-circle(r="40", cx="50%", cy="50%", fill="none",  stroke-dasharray="0 251.2")
      text.inner-text(x="50%" y="50%", fill="#243994")= name



